.AlertDetails {
    background-color: white;
    display: flex;  
    height: 80vh;
    overflow-y: auto;
}

.AlertDetailsBack {
  display: flex;

}

.AlertDetailsBack button {
    flex: 0.3;
}
.AlertDetailsContent {
    flex: 1;
}

.AlertDetailsHeader, .AlertDetailsContent, .AlertDetailsBack {
    padding: 10px;
}

.AlertDetails .anticon {
    font-size: 24px;
}

