
.AlertLegend {
    display: flex;
    flex-direction: column;
    z-index: 1000; 
    line-height: 18px;
    color: #555;
    z-index: 1000;
    padding: 15px 8px;
    background: white;
    cursor: auto;
}

.AlertLegendHeader {
    margin: 0 0 10px 0;
}