
@import '~antd/dist/antd.css';
@import '~leaflet/dist/leaflet.css';
@import '~leaflet-draw/dist/leaflet.draw.css';

.App {
  text-align: center;
}

#map .leaflet-popup-content-wrapper {
  text-align: center;
}




 #sidebar {
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow: hidden;
  float: left;
  width: 20vw;
  background: #fff;
  font-size: 12px;
}

#filters-header {
  text-align: center;
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow: hidden;
  left: 83vw;
  width: 16.9vw;
  background: #fff;
  font-size: 12px;
}

#filters {
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow: hidden;
  left: 77.9vw;
  top: 5.1vh;
  width: 22vw;
  background: #fff;
  font-size: 12px;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
