.legend {
  line-height: 18px;
  color: #555;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  cursor: auto;
}
i {
  font-style: italic;
}

.severity-legend-1 {
  padding: 3px 6px 3px 18px;
  background-color: #ffffffbf;
  margin-left: 16px;
  font-size: 12px;
  position: absolute;
  bottom: 62px;
  right: 8px;
}

.legend i {
  width: 18px;
  height: 18px;
  margin-right: 4px;
  opacity: 0.7;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.top-right {
  z-index: 1000;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  margin-right: 10px;
  margin-top: 10px;
}



.App {
  text-align: center;
}

#map .leaflet-popup-content-wrapper {
  text-align: center;
}

.ant-collapse-content > .ant-collapse-content-box {
  padding : 0;
}

.ant-divider-horizontal {
  margin: 0;
}


 #sidebar {
  position: absolute;
  left: 60px;
  top: 10px;
  z-index: 1000;
  height: auto;
  overflow: hidden;
  float: left;
  width: 7vw;
  font-size: 12px;
}

#filters-header {
  text-align: center;
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow: hidden;
  left: 83vw;
  width: 16.9vw;
  background: #fff;
  font-size: 12px;
}

#filters {
  position: absolute;
  z-index: 1000;
  height: auto;
  overflow: hidden;
  left: 77.9vw;
  top: 5.1vh;
  width: 22vw;
  background: #fff;
  font-size: 12px;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
